:root {
  --form-clear-button-pc-p: 4px;
  --form-clear-button-tablet-p: 4px;
  --form-clear-button-mobile-p: 4px;

  --form-clear-button-pc-size: 18px;
  --form-clear-button-tablet-size: 18px;
  --form-clear-button-mobile-size: 18px;

  --form-element-border-color: var(--gray-e5);
  --form-element-focus-border-color: var(--green-6a2d);
  --form-element-disbaled-border-color: var(--gray-e5);
  --form-element-error-border-color: var(--orange-e646);

  --form-element-color: var(--gray-666);
  --form-element-focus-color: var(--gray-666);
  --form-element-disbaled-color: var(--gray-666);
  --form-element-error-color: var(--orange-e646);

  --form-clear-button-color: var(--gray-999);
}

.m-form-element {
  @apply overflow-hidden;

  &:not(label) {
    @apply flex items-center gap-x-[8px] rounded-[5px] border-[1px] bg-[--white] transition-colors duration-300;

    &:not(:disabled):not(.\-\-disabled):not(.\-\-focus):not(.\-\-error) {
      @apply border-[--form-element-border-color];

      .m-form-type {
        @apply text-[--form-element-color];
      }
    }

    &:not(:disabled):not(.\-\-disabled) {
      .m-form-type {
        &::placeholder,
        &.\-\-placeholder {
          @apply text-[--gray-999];
        }
      }
    }

    &:disabled,
    &.\-\-disabled {
      @apply cursor-not-allowed border-[--form-element-disbaled-border-color] bg-[--gray-f2];

      .m-form-type {
        @apply pointer-events-none text-[--form-element-disabled-color];

        &,
        &::placeholder,
        &.\-\-placeholder {
          @apply text-[--gray-ccce];
        }
      }
    }

    &.\-\-focus {
      @apply border-[--form-element-focus-border-color];

      .m-form-type {
        @apply text-[--form-element-focus-color];
      }
    }

    &.\-\-error {
      @apply border-[--form-element-error-border-color];

      .m-form-type {
        @apply text-[--form-element-error-color];
      }

      .m-form-length,
      .m-form-assist {
        @apply text-[--orange-e646];
      }
    }
  }
}

.m-form-type {
  &:not([type='checkbox']):not([type='radio']) {
    @apply h-full bg-transparent text-[16px] transition-colors duration-300;
  }
}

.m-form-clear-button {
  @apply h-[--form-clear-button-size] p-[--form-clear-button-p];

  &:not(.\-\-show) {
    transition:
      opacity 0.3s,
      visibility 0.3s,
      width 0s 0.3s;

    @apply pointer-events-none invisible w-0 opacity-0;
  }

  &.\-\-show {
    transition:
      opacity 0.3s,
      visibility 0.3s,
      width 0s;

    @apply visible w-[--form-clear-button-size] opacity-100;
  }
}

.m-form-clear-icon {
  @apply h-full w-full text-[--form-clear-button-color];
}

.m-form-length,
.m-form-assist {
  @apply transition-colors duration-300;
}

.m-form-error {
  @apply mt-[4px] text-[14px];
}

@screen p {
  .m-form {
    --form-clear-button-p: var(--form-clear-button-pc-p);
    --form-clear-button-size: var(--form-clear-button-pc-size);

    &.\-\-p-16,
    &.p\:\-\-p-16,
    &.pt\:\-\-p-16 {
      .m-form-element {
        @apply p-[16px];
      }
    }

    &.\-\-px-40,
    &.p\:\-\-px-40,
    &.pt\:\-\-px-40 {
      .m-form-element {
        @apply px-[40px];
      }
    }

    &.\-\-px-12,
    &.p\:\-\-px-12,
    &.pt\:\-\-px-12 {
      .m-form-element {
        @apply px-[12px];
      }
    }

    &.\-\-py-16,
    &.p\:\-\-py-16,
    &.pt\:\-\-py-16 {
      .m-form-element {
        @apply py-[16px];
      }
    }

    &.\-\-py-8,
    &.p\:\-\-py-8,
    &.pt\:\-\-py-8 {
      .m-form-element {
        @apply py-[8px];
      }
    }

    &.\-\-h-56,
    &.p\:\-\-h-56,
    &.pt\:\-\-h-56 {
      .m-form-element {
        @apply min-h-[56px];
      }
    }

    &.\-\-h-40,
    &.p\:\-\-h-40,
    &.pt\:\-\-h-40 {
      .m-form-element {
        @apply min-h-[40px];
      }
    }
  }
}

@screen t {
  .m-form {
    --form-clear-button-p: var(--form-clear-button-tabled-p);
    --form-clear-button-size: var(--form-clear-button-tabled-size);

    &.\-\-p-16,
    &.pt\:\-\-p-16,
    &.tm\:\-\-p-16,
    &.t\:\-\-p-16 {
      .m-form-element {
        @apply p-[16px];
      }
    }

    &.\-\-px-40,
    &.pt\:\-\-px-40,
    &.tm\:\-\-px-40,
    &.t\:\-\-px-40 {
      .m-form-element {
        @apply px-[40px];
      }
    }

    &.\-\-px-12,
    &.pt\:\-\-px-12,
    &.tm\:\-\-px-12,
    &.t\:\-\-px-12 {
      .m-form-element {
        @apply px-[12px];
      }
    }

    &.\-\-py-16,
    &.pt\:\-\-py-16,
    &.tm\:\-\-py-16,
    &.t\:\-\-py-16 {
      .m-form-element {
        @apply py-[16px];
      }
    }

    &.\-\-py-8,
    &.pt\:\-\-py-8,
    &.tm\:\-\-py-8,
    &.t\:\-\-py-8 {
      .m-form-element {
        @apply py-[8px];
      }
    }

    &.\-\-h-56,
    &.pt\:\-\-h-56,
    &.tm\:\-\-h-56,
    &.t\:\-\-h-56 {
      .m-form-element {
        @apply min-h-[56px];
      }
    }

    &.\-\-h-40,
    &.pt\:\-\-h-40,
    &.tm\:\-\-h-40,
    &.t\:\-\-h-40 {
      .m-form-element {
        @apply min-h-[40px];
      }
    }
  }
}

@screen m {
  .m-form {
    --form-clear-button-p: var(--form-clear-button-mobile-p);
    --form-clear-button-size: var(--form-clear-button-mobile-size);

    &.\-\-p-16,
    &.tm\:\-\-p-16,
    &.m\:\-\-p-16 {
      .m-form-element {
        @apply p-[16px];
      }
    }

    &.\-\-px-40,
    &.tm\:\-\-px-40,
    &.m\:\-\-px-40 {
      .m-form-element {
        @apply px-[40px];
      }
    }

    &.\-\-px-12,
    &.tm\:\-\-px-12,
    &.m\:\-\-px-12 {
      .m-form-element {
        @apply px-[12px];
      }
    }

    &.\-\-py-16,
    &.tm\:\-\-py-16,
    &.m\:\-\-py-16 {
      .m-form-element {
        @apply py-[16px];
      }
    }

    &.\-\-py-8,
    &.tm\:\-\-py-8,
    &.m\:\-\-py-8 {
      .m-form-element {
        @apply py-[8px];
      }
    }

    &.\-\-h-56,
    &.tm\:\-\-h-56,
    &.m\:\-\-h-56 {
      .m-form-element {
        @apply min-h-[56px];
      }
    }

    &.\-\-h-40,
    &.tm\:\-\-h-40,
    &.m\:\-\-h-40 {
      .m-form-element {
        @apply min-h-[40px];
      }
    }
  }
}
