:root {
  --form-autocomplete-icon-pc-p: 2px;
  --form-autocomplete-icon-tablet-p: 2px;
  --form-autocomplete-icon-mobile-p: 2px;

  --form-autocomplete-icon-pc-size: 20px;
  --form-autocomplete-icon-tablet-size: 20px;
  --form-autocomplete-icon-mobile-size: 20px;

  --form-autocomplete-dropdown-pc-my: 3px;
  --form-autocomplete-dropdown-tablet-my: 3px;
  --form-autocomplete-dropdown-mobile-my: 3px;

  --form-autocomplete-dropdown-pc-shadow:
    0 4px 24px 0 var(--blue-0016-14), 0 2px 16px -8px var(--blue-0016-33);
  --form-autocomplete-dropdown-tablet-shadow:
    0 4px 24px 0 var(--blue-0016-14), 0 2px 16px -8px var(--blue-0016-33);
  --form-autocomplete-dropdown-mobile-shadow:
    0 4px 24px 0 var(--blue-0016-14), 0 2px 16px -8px var(--blue-0016-33);

  --form-autocomplete-dropdown-container-pc-px: 1px;
  --form-autocomplete-dropdown-container-tablet-px: 1px;
  --form-autocomplete-dropdown-container-mobile-px: 1px;

  --form-autocomplete-dropdown-container-pc-py: 0;
  --form-autocomplete-dropdown-container-tablet-py: 0;
  --form-autocomplete-dropdown-container-mobile-py: 0;

  --form-autocomplete-dropdown-common-pc-mx: 11px;
  --form-autocomplete-dropdown-common-tablet-mx: 11px;
  --form-autocomplete-dropdown-common-mobile-mx: 11px;

  --form-autocomplete-dropdown-common-pc-py: 12px;
  --form-autocomplete-dropdown-common-tablet-py: 12px;
  --form-autocomplete-dropdown-common-mobile-py: 12px;

  --form-autocomplete-dropdown-button-pc-border: 1px;
  --form-autocomplete-dropdown-button-tablet-border: 1px;
  --form-autocomplete-dropdown-button-mobile-border: 1px;

  --form-autocomplete-dropdown-label-pc-px: 0;
  --form-autocomplete-dropdown-label-tablet-px: 0;
  --form-autocomplete-dropdown-label-mobile-px: 0;

  --form-autocomplete-dropdown-label-pc-py: 0;
  --form-autocomplete-dropdown-label-tablet-py: 0;
  --form-autocomplete-dropdown-label-mobile-py: 0;

  --form-autocomplete-elment-icon-color: var(--gray-999);
  --form-autocomplete-elment-focus-icon-color: var(--green-8b0d);
  --form-autocomplete-elment-disabled-icon-color: var(--gray-ccce);
  --form-autocomplete-elment-error-icon-color: var(--red-d111);

  --form-autocomplete-dropdown-container-bg-color: var(--white);

  --form-autocomplete-dropdown-button-bg-color: var(--gray-e5-4d);
  --form-autocomplete-dropdown-button-active-bg-color: var(--green-8b0d-66);
  --form-autocomplete-dropdown-button-disbaled-bg-color: var(--gray-f7);
}

@screen p {
  .m-form-autocomplete-dropdown {
    &.\-\-rounded,
    &.p\:\-\-rounded,
    &.pt\:\-\-rounded {
      --form-autocomplete-dropdown-rounded: 16px;
    }
  }
}

@screen t {
  .m-form-autocomplete-dropdown {
    &.\-\-rounded,
    &.pt\:\-\-rounded,
    &.tm\:\-\-rounded,
    &.t\:\-\-rounded {
      --form-autocomplete-dropdown-rounded: 16px;
    }
  }
}

@screen m {
  .m-form-autocomplete-dropdown {
    &.\-\-rounded,
    &.tm\:\-\-rounded,
    &.m\:\-\-rounded {
      --form-autocomplete-dropdown-rounded: 16px;
    }
  }
}
