:root {
  --form-checkbox-icon-pc-rounded: 2px;
  --form-checkbox-icon-tablet-rounded: 2px;
  --form-checkbox-icon-mobile-rounded: 2px;

  --form-checkbox-icon-pc-border: 1px;
  --form-checkbox-icon-tablet-border: 1px;
  --form-checkbox-icon-mobile-border: 1px;

  --form-checkbox-icon-color: inherit;
  --form-checkbox-icon-border-color: var(--gray-999);

  --form-checkbox-checked-color: var(--green-8b0d);
  --form-checkbox-icon-border-checked-color: transparent;

  --form-checkbox-error-color: inherit;
  --form-checkbox-icon-border-error-color: var(--red-d111);
}

.m-form {
  &.\-\-checkbox-green-8d0d {
    --form-checkbox-icon-color: var(--green-8b0d);
  }

  &.\-\-checkbox-white {
    --form-checkbox-icon-color: var(--white);
  }
}
