:root {
  --form-password-pc-eye-icon-size: 20px;
  --form-password-tablet-eye-icon-size: 20px;
  --form-password-mobile-eye-icon-size: 20px;

  --form-password-eye-icon-color: var(--gray-999);
  --form-password-eye-disabled-icon-color: var(--gray-999);
  --form-password-eye-error-icon-color: var(--gray-999);
}
