.m-form-element {
  &.\-\-password {
    &.\-\-disabled {
      --form-password-eye-icon-color: var(--form-password-eye-disabled-icon-color);
    }

    &.\-\-error {
      --form-password-eye-icon-color: var(--form-password-eye-error-icon-color);
    }
  }
}

.m-form-password-eye-icon {
  @apply h-[--form-password-eye-icon-size] w-[--form-password-eye-icon-size] text-[--form-password-eye-icon-color];
}

@screen p {
  .m-form {
    --form-password-eye-icon-size: var(--form-password-pc-eye-icon-size);
  }
}

@screen t {
  .m-form {
    --form-password-eye-icon-size: var(--form-password-tablets-eye-icon-size);
  }
}

@screen m {
  .m-form {
    --form-password-eye-icon-size: var(--form-password-mobile-eye-icon-size);
  }
}
