:root {
  --swiper-pagination-point-pc-size: 8px;
  --swiper-pagination-point-tablet-size: 8px;
  --swiper-pagination-point-mobile-size: 8px;

  --swiper-pagination-bar-pc-max-w: 65px;
  --swiper-pagination-bar-tablet-max-w: 65px;
  --swiper-pagination-bar-mobile-max-w: 65px;

  --swiper-pagination-bar-pc-h: 4px;
  --swiper-pagination-bar-tablet-h: 4px;
  --swiper-pagination-bar-mobile-h: 4px;

  --swiper-pagination-point-pc-gap-x: 24px;
  --swiper-pagination-point-tablet-gap-x: 24px;
  --swiper-pagination-point-mobile-gap-x: 24px;

  --swiper-pagination-bar-pc-gap-x: 12px;
  --swiper-pagination-bar-tablet-gap-x: 12px;
  --swiper-pagination-bar-mobile-gap-x: 12px;

  --swiper-pagination-bullet-point-bg-color: var(--gray-c8);
  --swiper-pagination-bullet-point-active-bg-color: var(--blue-08dc);

  --swiper-pagination-bullet-bar-bg-color: var(--white);
  --swiper-pagination-bullet-bar-active-bg-color: var(--blue-6dd7);

  --swiper-ctrl-pc-w: 36px;
  --swiper-ctrl-tablet-w: 36px;
  --swiper-ctrl-mobile-w: 36px;

  --swiper-ctrl-pc-h: 36px;
  --swiper-ctrl-tablet-h: 36px;
  --swiper-ctrl-mobile-h: 36px;

  --swiper-ctrl-pc-rounded: 6px;
  --swiper-ctrl-tablet-rounded: 6px;
  --swiper-ctrl-mobile-rounded: 6px;

  --swiper-ctrl-pc-gap-x: 8px;
  --swiper-ctrl-tablet-gap-x: 8px;
  --swiper-ctrl-mobile-gap-x: 8px;

  --swiper-ctrl-pc-shadow: 0 2px 4px 0 var(--black-1a);
  --swiper-ctrl-tablet-shadow: 0 2px 4px 0 var(--black-1a);
  --swiper-ctrl-mobile-shadow: 0 2px 4px 0 var(--black-1a);

  --swiper-ctrl-bg-color: var(--white);
  --swiper-ctrl-disabled-bg-color: var(--white);

  --swiper-ctrl-pc-border: 1px;
  --swiper-ctrl-tablet-border: 1px;
  --swiper-ctrl-mobile-border: 1px;
  --swiper-ctrl-border-color: transparent;
  --swiper-ctrl-disabled-border-color: transparent;

  --swiper-ctrl-color: var(--blue-08dc);
  --swiper-ctrl-disabled-color: var(--blue-08dc1a);

  --swiper-ctrl-pc-icon-size: 12px;
  --swiper-ctrl-tablet-icon-size: 12px;
  --swiper-ctrl-mobile-icon-size: 12px;
}
