:root {
  --red-f00: #f00;

  --orange-feea: #feeeea;
  --orange-e646: #ea6846;

  --yellow-ffdc: #fffbdc;
  --yellow-ffab: #fdf2ab;

  --green-8b0d: #87b90d;
  --green-6a2d: #67a12d;

  --blue-efff: #eff6ff;
  --blue-6afa: #60a5fa;
  --blue-0016-14: #02041614;
  --blue-0016-33: #02041633;

  --white: #fff;

  --gray-f7: #f7f7f7;
  --gray-f2: #f2f2f2;
  --gray-ed: #ededed;
  --gray-e5: #e5e5e5;
  --gray-ccce: #c3c8ce;
  --gray-999: #999;
  --gray-666: #666;
  --gray-33-4d: #3333334d;
  --gray-333: #333;

  --black-1f: #0000001f;
  --black-33: #00000033;
  --black-40: #00000040;
  --black-66: #00000066;
  --black-b3: #000000b3;
  --black: #000;
}
