:root {
  /* 紅色 */
  --red-e56a: #e8536a;
  --red-e45c: #ef425c;
  --red-e786: #ed7d86;

  /* 黃色 */
  --yellow-ffbc: #fff7bc;

  /* 綠色 */
  --green-7b1c: #79b51c;
  --green-9c33: #98cb33;
  --green-4847: #478947;
  --green-4a7f: #49af7f;
  --green-efef: #e6f3ef;
  --green-ffe9: #f4f8e9;

  /* 藍色 */
  --blue-26e1: #276ee1;
  --blue-69c1: #6f9bc1;
  --blue-efff: #eef4ff;

  /* 灰色 */
  --gray-ed: #ededed;
  --gray-feea: #f1ecea;
  --gray-db: #dbdbdb;
  --gray-2338: #2f3338;
}
