:root {
  --white: #fff;
  --white-rgb: hexToRgb(#fff);
  --black: #000;
  --black-rgb: hexToRgb(#000);

  /* CommonMHeader(全頻道共用 header)用色 */
  --red-d111: #df1111;

  --orange-e646: #ea6846;
  --orange-f74c: #ff714c;

  --green-ffe9: #f4f8e9;
  --green-8b0d: #87b90d;
  --green-8b0d66: #87b90d66;
  --green-6a2d: #67a12d;

  --gray-f7: #f7f7f7;
  --gray-f2: #f2f2f2;
  --gray-e5: #e5e5e5;
  --gray-e54d: #e5e5e54d;
  --gray-d8: #d8d8d8;
  --gray-ccce: #c3c8ce;
  --gray-999: #999;
  --gray-666: #666;
}
