:root {
  /* 紅色 */
  --red-e56a: #e8536a;
  --red-e45c: #ef425c;
  --red-e786: #ed7d86;

  /* 橘色 */
  --orange-feea: #feeeea;

  /* 綠色 */
  --green-7b1c: #79b51c;
  --green-9c33: #98cb33;
  --green-4a7f: #49af7f;
  --green-ffe9: #f4f8e9;

  /* 藍色 */
  --blue-efef: #e6f3ef;
  --blue-69c1: #6f9bc1;

  /* 灰色 */
  --gray-ed: #ededed;
  --gray-feea: #f1ecea;
  --gray-db: #dbdbdb;
  --gray-333: #333;
  --gray-2338: #2f3338;
}
