.m-tag {
  --tag-px: 0;
  --tag-py: 0;
  --tag-h: '';
  --tag-rounded: '';
  --tag-text-shadow: '';
  --tag-border-color: transparent;
  border-width: 1px;

  @apply inline-flex h-[--tag-h] items-center overflow-hidden rounded-[--tag-rounded] border-[--tag-border-color] px-[--tag-px] py-[--tag-py] text-[--tag-text-color] transition-colors duration-300;

  &.\-\-oval {
    @apply rounded-full;
  }
}

.m-tag-label {
  text-shadow: var(--tag-text-shadow);

  @apply tracking-wider;
}
