:root {
  --tag-pc-text-shadow: 1px 1px 1px #00000033;
  --tag-tablet-text-shadow: 1px 1px 1px #00000033;
  --tag-mobile-text-shadow: 1px 1px 1px #00000033;
}

.m-tag {
  &.\-\-bg-red-e45c {
    @apply bg-[--red-e45c];
  }

  &.\-\-bg-red-e786 {
    @apply bg-[--red-e786];
  }

  &.\-\-bg-orange-feea {
    @apply bg-[--orange-feea];
  }

  &.\-\-bg-orange-f74c {
    @apply bg-[--orange-f74c];
  }

  &.\-\-bg-gray-f7 {
    @apply bg-[--gray-f7];
  }

  &.\-\-bg-gray-f2 {
    @apply bg-[--gray-f2];
  }

  &.\-\-border-blue-69c1 {
    @apply border-[--blue-69c1];
  }

  &.\-\-border-gray-db {
    @apply border-[--gray-db];
  }

  &.\-\-text-orange-e646 {
    @apply text-[--orange-e646];
  }

  &.\-\-text-blue-69c1 {
    @apply text-[--blue-69c1];
  }

  &.\-\-text-gray-666 {
    @apply text-[--gray-666];
  }

  &.\-\-text-white {
    @apply text-[--white];
  }

  &:hover {
    &.\-\-hover-border-green-9c33 {
      --tag-border-color: var(--green-9c33);
    }

    &.\-\-hover-text-green-6a2d {
      --tag-text-color: var(--green-6a2d);
    }
  }
}

@screen p {
  .m-tag {
    &.\-\-text-shadow,
    &.p\:\-\-text-shadow,
    &.pt\:\-\-text-shadow {
      --tag-text-shadow: var(--tag-pc-text-shadow);
    }

    &.\-\-rounded-4,
    &.p\:\-\-rounded-4,
    &.pt\:\-\-rounded-4 {
      --tag-rounded: 4px;
    }

    &.\-\-rounded-3,
    &.p\:\-\-rounded-3,
    &.pt\:\-\-rounded-3 {
      --tag-rounded: 3px;
    }

    &.\-\-px-10,
    &.p\:\-\-px-10,
    &.pt\:\-\-px-10 {
      --tag-px: 10px;
    }

    &.\-\-px-6,
    &.p\:\-\-px-6,
    &.pt\:\-\-px-6 {
      --tag-px: 6px;
    }

    &.\-\-py-4,
    &.p\:\-\-py-4,
    &.pt\:\-\-py-4 {
      --tag-py: 4px;
    }

    &.\-\-py-2,
    &.p\:\-\-py-2,
    &.pt\:\-\-py-2 {
      --tag-py: 2px;
    }

    &.\-\-h-30,
    &.p\:\-\-h-30,
    &.pt\:\-\-h-30 {
      --tag-h: 30px;
    }

    &.\-\-h-20,
    &.p\:\-\-h-20,
    &.pt\:\-\-h-20 {
      --tag-h: 20px;
    }
  }
}

@screen t {
  .m-tag {
    &.\-\-text-shadow,
    &.pt\:\-\-text-shadow,
    &.tm\:\-\-text-shadow,
    &.t\:\-\-text-shadow {
      --tag-text-shadow: var(--tag-tablet-text-shadow);
    }

    &.\-\-rounded-4,
    &.pt\:\-\-rounded-4,
    &.tm\:\-\-rounded-4,
    &.t\:\-\-rounded-4 {
      --tag-rounded: 4px;
    }

    &.\-\-rounded-3,
    &.pt\:\-\-rounded-3,
    &.tm\:\-\-rounded-3,
    &.t\:\-\-rounded-3 {
      --tag-rounded: 3px;
    }

    &.\-\-px-10,
    &.pt\:\-\-px-10,
    &.tm\:\-\-px-10,
    &.t\:\-\-px-10 {
      --tag-px: 10px;
    }

    &.\-\-px-6,
    &.pt\:\-\-px-6,
    &.tm\:\-\-px-6,
    &.t\:\-\-px-6 {
      --tag-px: 6px;
    }

    &.\-\-py-4,
    &.pt\:\-\-py-4,
    &.tm\:\-\-py-4,
    &.t\:\-\-py-4 {
      --tag-py: 4px;
    }

    &.\-\-py-2,
    &.pt\:\-\-py-2,
    &.tm\:\-\-py-2,
    &.t\:\-\-py-2 {
      --tag-py: 2px;
    }

    &.\-\-h-30,
    &.pt\:\-\-h-30,
    &.tm\:\-\-h-30,
    &.t\:\-\-h-30 {
      --tag-h: 30px;
    }

    &.\-\-h-20,
    &.pt\:\-\-h-20,
    &.tm\:\-\-h-20,
    &.t\:\-\-h-20 {
      --tag-h: 20px;
    }
  }
}

@screen m {
  .m-tag {
    &.\-\-text-shadow,
    &.tm\:\-\-text-shadow,
    &.m\:\-\-text-shadow {
      --tag-text-shadow: var(--tag-mobile-text-shadow);
    }

    &.\-\-rounded-4,
    &.tm\:\-\-rounded-4,
    &.m\:\-\-rounded-4 {
      --tag-rounded: 4px;
    }

    &.\-\-rounded-3,
    &.tm\:\-\-rounded-3,
    &.m\:\-\-rounded-3 {
      --tag-rounded: 3px;
    }

    &.\-\-px-10,
    &.tm\:\-\-px-10,
    &.m\:\-\-px-10 {
      --tag-px: 10px;
    }

    &.\-\-px-6,
    &.tm\:\-\-px-6,
    &.m\:\-\-px-6 {
      --tag-px: 6px;
    }

    &.\-\-py-4,
    &.tm\:\-\-py-4,
    &.m\:\-\-py-4 {
      --tag-py: 4px;
    }

    &.\-\-py-2,
    &.tm\:\-\-py-2,
    &.m\:\-\-py-2 {
      --tag-py: 2px;
    }

    &.\-\-h-30,
    &.tm\:\-\-h-30,
    &.m\:\-\-h-30 {
      --tag-h: 30px;
    }

    &.\-\-h-20,
    &.tm\:\-\-h-20,
    &.m\:\-\-h-20 {
      --tag-h: 20px;
    }
  }
}
