.m-tab-header-item {
  @apply flex items-center;
}

.m-tab-anchor {
  @apply relative flex items-center justify-center gap-x-[--tab-anchor-gap-x] transition-colors duration-300;
}

.m-tab-icon {
  @apply transition-colors duration-300;
}

.m-tab-body {
  @apply relative z-0;
}

.m-table-body-content {
  @apply overflow-hidden border-transparent;
}

.m-tab-body-items {
  @apply flex w-[200%] will-change-transform;

  &.\-\-animating {
    @apply transition-transform duration-300;

    &.\-\-left {
      @apply -translate-x-1/2;
    }

    &.\-\-right {
      @apply translate-x-0;
    }
  }

  &.\-\-right {
    @apply -translate-x-1/2;
  }
}

.m-tab-body-item {
  @apply w-1/2 shrink-0;
}

.m-tab-anchor {
  @apply min-h-[--tab-anchor-min-h] px-[--tab-anchor-px] py-[--tab-anchor-py];
}

@screen p {
  .m-tab {
    --tab-anchor-gap-x: var(--tab-anchor-pc-gap-x);
  }
}

@screen t {
  .m-tab {
    --tab-anchor-gap-x: var(--tab-anchor-tablet-gap-x);
  }
}

@screen m {
  .m-tab {
    --tab-anchor-gap-x: var(--tab-anchor-mobile-gap-x);
  }
}
