:root {
  --tag-pc-gap-x: 3px;
  --tag-tablet-gap-x: 3px;
  --tag-mobile-gap-x: 3px;

  --tag-element-pc-gap-x: 8px;
  --tag-element-tablet-gap-x: 8px;
  --tag-element-mobile-gap-x: 8px;

  --tag-px: 0;
  --tag-py: 0;
  --tag-h: auto;

  --tag-color: var(--gray-666);
  --tag-bg-color: transparent;
}

@screen p {
  .m-tag {
    &.\-\-px-15,
    &.p\:\-\-px-15,
    &.pt\:\-\-px-15 {
      --tag-px: 15px;
    }

    &.\-\-py-5,
    &.p\:\-\-py-5,
    &.pt\:\-\-py-5 {
      --tag-py: 5px;
    }

    &.\-\-h-35,
    &.p\:\-\-h-35,
    &.pt\:\-\-h-35 {
      --tag-h: 35px;
    }

    &.\-\-h-30,
    &.p\:\-\-h-30,
    &.pt\:\-\-h-30 {
      --tag-h: 30px;
    }
  }
}

@screen t {
  .m-tag {
    &.\-\-px-15,
    &.pt\:\-\-px-15,
    &.tm\:\-\-px-15,
    &.t\:\-\-px-15 {
      --tag-px: 15px;
    }

    &.\-\-py-5,
    &.pt\:\-\-py-5,
    &.tm\:\-\-py-5,
    &.t\:\-\-py-5 {
      --tag-py: 5px;
    }

    &.\-\-h-35,
    &.pt\:\-\-h-35,
    &.tm\:\-\-h-35,
    &.t\:\-\-h-35 {
      --tag-h: 35px;
    }

    &.\-\-h-30,
    &.pt\:\-\-h-30,
    &.tm\:\-\-h-30,
    &.t\:\-\-h-30 {
      --tag-h: 30px;
    }
  }
}

@screen m {
  .m-tag {
    &.\-\-px-15,
    &.tm\:\-\-px-15,
    &.m\:\-\-px-15 {
      --tag-px: 15px;
    }

    &.\-\-py-5,
    &.tm\:\-\-py-5,
    &.m\:\-\-py-5 {
      --tag-py: 5px;
    }

    &.\-\-h-35,
    &.tm\:\-\-h-35,
    &.m\:\-\-h-35 {
      --tag-h: 35px;
    }

    &.\-\-h-30,
    &.tm\:\-\-h-30,
    &.m\:\-\-h-30 {
      --tag-h: 30px;
    }
  }
}
