:root {
  --form-element-pc-border: 1px;
  --form-element-tablet-border: 1px;
  --form-element-mobile-border: 1px;

  --form-element-border-color: var(--gray-e5);
  --form-element-border-focus-color: var(--green-8b0d);
  --form-element-border-disabled-color: var(--gray-f2);
  --form-element-border-error-color: var(--red-e45c);
}

.m-form-element {
  &:not(label) {
    border-width: var(--form-element-pc-border);

    @apply flex items-center gap-x-[8px] overflow-hidden border-solid bg-[--white] transition-colors duration-300;

    &:not(:disabled):not(.\-\-disabled):not(.\-\-focus):not(.\-\-error) {
      @apply border-[--form-element-border-color];
    }

    &:not(:disabled):not(.\-\-disabled) {
      .m-form-type {
        @apply text-[--gray-666];

        &::placeholder,
        &.\-\-placeholder {
          @apply text-[--gray-999];
        }
      }
    }

    &.\-\-focus {
      @apply border-[--form-element-border-focus-color];
    }

    &.\-\-error {
      @apply border-[--form-element-border-error-color];
    }

    &:disabled,
    &.\-\-disabled {
      @apply cursor-not-allowed border-[--form-element-border-disabled-color] bg-[--gray-f2];

      .m-form-type {
        @apply pointer-events-none;

        &,
        &::placeholder,
        &.\-\-placeholder {
          @apply text-[--gray-ccce];
        }
      }
    }

    &.\-\-error {
      @apply border-[--orange-e646];

      .m-form-length,
      .m-form-assist {
        @apply text-[--orange-e646];
      }
    }
  }
}

.m-form-type {
  @apply h-full bg-transparent;
}

.m-form-clear-button {
  @apply transition-opacitys duration-300;

  &:not(.\-\-show) {
    @apply pointer-events-none invisible opacity-0;
  }

  &.\-\-show {
    @apply visible opacity-100;
  }
}

.m-form-clear-icon {
  @apply h-[18px] w-[18px] p-[4px] text-[--gray-999];
}

.m-form-length,
.m-form-assist {
  @apply transition-colors duration-300;
}

.m-form-error {
  @apply mt-[4px] text-[14px];
}

@screen p {
  .m-form {
    --form-element-border: var(--form-element-pc-border);

    &.\-\-px-12,
    &.p\:\-\-px-12,
    &.pt\:\-\-px-12 {
      .m-form-element {
        @apply px-[12px];
      }
    }

    &.\-\-px-8,
    &.p\:\-\-px-8,
    &.pt\:\-\-px-8 {
      .m-form-element {
        @apply px-[8px];
      }
    }

    &.\-\-py-10,
    &.p\:\-\-py-10,
    &.pt\:\-\-py-10 {
      .m-form-element {
        @apply py-[10px];
      }
    }

    &.\-\-py-8,
    &.p\:\-\-py-8,
    &.pt\:\-\-py-8 {
      .m-form-element {
        @apply py-[8px];
      }
    }

    &.\-\-h-50,
    &.p\:\-\-h-50,
    &.pt\:\-\-h-50 {
      .m-form-element {
        @apply h-[50px];
      }
    }

    &.\-\-h-45,
    &.p\:\-\-h-45,
    &.pt\:\-\-h-45 {
      .m-form-element {
        @apply h-[45px];
      }
    }

    &.\-\-h-40,
    &.p\:\-\-h-40,
    &.pt\:\-\-h-40 {
      .m-form-element {
        @apply h-[40px];
      }
    }

    &.\-\-h-35,
    &.p\:\-\-h-35,
    &.pt\:\-\-h-35 {
      .m-form-element {
        @apply h-[35px];
      }
    }

    &.\-\-rounded,
    &.p\:\-\-rounded,
    &.pt\:\-\-rounded {
      .m-form-element {
        &:not(label) {
          @apply rounded-[5px];
        }
      }
    }
  }
}

@screen t {
  .m-form {
    --form-element-border: var(--form-element-tablet-border);

    &.\-\-px-12,
    &.pt\:\-\-px-12,
    &.tm\:\-\-px-12,
    &.t\:\-\-px-12 {
      .m-form-element {
        @apply px-[12px];
      }
    }

    &.\-\-px-8,
    &.pt\:\-\-px-8,
    &.tm\:\-\-px-8,
    &.t\:\-\-px-8 {
      .m-form-element {
        @apply px-[8px];
      }
    }

    &.\-\-py-10,
    &.pt\:\-\-py-10,
    &.tm\:\-\-py-10,
    &.t\:\-\-py-10 {
      .m-form-element {
        @apply py-[10px];
      }
    }

    &.\-\-py-8,
    &.pt\:\-\-py-8,
    &.tm\:\-\-py-8,
    &.t\:\-\-py-8 {
      .m-form-element {
        @apply py-[8px];
      }
    }

    &.\-\-h-50,
    &.pt\:\-\-h-50,
    &.tm\:\-\-h-50,
    &.t\:\-\-h-50 {
      .m-form-element {
        @apply h-[50px];
      }
    }

    &.\-\-h-45,
    &.pt\:\-\-h-45,
    &.tm\:\-\-h-45,
    &.t\:\-\-h-45 {
      .m-form-element {
        @apply h-[45px];
      }
    }

    &.\-\-h-40,
    &.pt\:\-\-h-40,
    &.tm\:\-\-h-40,
    &.t\:\-\-h-40 {
      .m-form-element {
        @apply h-[40px];
      }
    }

    &.\-\-h-35,
    &.pt\:\-\-h-35,
    &.tm\:\-\-h-35,
    &.t\:\-\-h-35 {
      .m-form-element {
        @apply h-[35px];
      }
    }

    &.\-\-rounded,
    &.pt\:\-\-rounded,
    &.tm\:\-\-rounded,
    &.t\:\-\-rounded {
      .m-form-element {
        &:not(label) {
          @apply rounded-[5px];
        }
      }
    }
  }
}

@screen m {
  .m-form {
    --form-element-border: var(--form-element-mobile-border);

    &.\-\-px-12,
    &.tm\:\-\-px-12,
    &.m\:\-\-px-12 {
      .m-form-element {
        @apply px-[12px];
      }
    }

    &.\-\-px-8,
    &.tm\:\-\-px-8,
    &.m\:\-\-px-8 {
      .m-form-element {
        @apply px-[8px];
      }
    }

    &.\-\-py-10,
    &.tm\:\-\-py-10,
    &.m\:\-\-py-10 {
      .m-form-element {
        @apply py-[10px];
      }
    }

    &.\-\-py-8,
    &.tm\:\-\-py-8,
    &.m\:\-\-py-8 {
      .m-form-element {
        @apply py-[8px];
      }
    }

    &.\-\-h-50,
    &.tm\:\-\-h-50,
    &.m\:\-\-h-50 {
      .m-form-element {
        @apply h-[50px];
      }
    }

    &.\-\-h-45,
    &.tm\:\-\-h-45,
    &.m\:\-\-h-45 {
      .m-form-element {
        @apply h-[45px];
      }
    }

    &.\-\-h-40,
    &.tm\:\-\-h-40,
    &.m\:\-\-h-40 {
      .m-form-element {
        @apply h-[40px];
      }
    }

    &.\-\-h-35,
    &.tm\:\-\-h-35,
    &.m\:\-\-h-35 {
      .m-form-element {
        @apply h-[35px];
      }
    }

    &.\-\-rounded,
    &.tm\:\-\-rounded,
    &.m\:\-\-rounded {
      .m-form-element {
        &:not(label) {
          @apply rounded-[5px];
        }
      }
    }
  }
}
