:root {
  --tag-pc-text-shadow: 1px 1px 1px #00000033;
  --tag-tablet-text-shadow: 1px 1px 1px #00000033;
  --tag-mobile-text-shadow: 1px 1px 1px #00000033;
}

.m-tag {
  @apply inline-flex items-center overflow-hidden;

  &[class*='--border'] {
    @apply border-[1px];
  }

  &.\-\-oval {
    @apply rounded-full;
  }

  &.\-\-bg-red-e45c {
    @apply bg-[--red-e45c];
  }

  &.\-\-bg-red-e786 {
    @apply bg-[--red-e786];
  }

  &.\-\-bg-orange-feea {
    @apply bg-[--orange-feea];
  }

  &.\-\-bg-orange-f74c {
    @apply bg-[--orange-f74c];
  }

  &.\-\-bg-gray-f7 {
    @apply bg-[--gray-f7];
  }

  &.\-\-border-blue-69c1 {
    @apply border-[--blue-69c1];
  }

  &.\-\-border-gray-db {
    @apply border-[--gray-db];
  }

  &.\-\-text-orange-e646 {
    @apply text-[--orange-e646];
  }

  &.\-\-text-blue-69c1 {
    @apply text-[--blue-69c1];
  }

  &.\-\-text-gray-666 {
    @apply text-[--gray-666];
  }

  &.\-\-text-white {
    @apply text-[--white];
  }
}

@screen p {
  .m-tag {
    &.\-\-text-shadow,
    &.p\:\-\-text-shadow,
    &.pt\:\-\-text-shadow {
      .m-tag-label {
        text-shadow: var(--tag-pc-text-shadow);
      }
    }

    &.\-\-rounded-3,
    &.p\:\-\-rounded-3,
    &.pt\:\-\-rounded-3 {
      @apply rounded-[3px];
    }

    &.\-\-px-10,
    &.p\:\-\-px-10,
    &.pt\:\-\-px-10 {
      @apply px-[10px];
    }

    &.\-\-px-6,
    &.p\:\-\-px-6,
    &.pt\:\-\-px-6 {
      @apply px-[6px];
    }

    &.\-\-py-4,
    &.p\:\-\-py-4,
    &.pt\:\-\-py-4 {
      @apply py-[4px];
    }

    &.\-\-py-2,
    &.p\:\-\-py-2,
    &.pt\:\-\-py-2 {
      @apply py-[2px];
    }

    &.\-\-h-20,
    &.p\:\-\-h-20,
    &.pt\:\-\-h-20 {
      @apply h-[20px];
    }
  }
}

@screen t {
  .m-tag {
    --tag-text-shadow: var(--tag-tablet-text-shadow);

    &.\-\-text-shadow,
    &.pt\:\-\-text-shadow,
    &.tm\:\-\-text-shadow,
    &.t\:\-\-text-shadow {
      .m-tag-label {
        text-shadow: var(--tag-tablet-text-shadow);
      }
    }

    &.\-\-rounded-3,
    &.pt\:\-\-rounded-3,
    &.tm\:\-\-rounded-3,
    &.t\:\-\-rounded-3 {
      @apply rounded-[3px];
    }

    &.\-\-px-10,
    &.pt\:\-\-px-10,
    &.tm\:\-\-px-10,
    &.t\:\-\-px-10 {
      @apply px-[10px];
    }

    &.\-\-px-6,
    &.pt\:\-\-px-6,
    &.tm\:\-\-px-6,
    &.t\:\-\-px-6 {
      @apply px-[6px];
    }

    &.\-\-py-4,
    &.pt\:\-\-py-4,
    &.tm\:\-\-py-4,
    &.t\:\-\-py-4 {
      @apply py-[4px];
    }

    &.\-\-py-2,
    &.pt\:\-\-py-2,
    &.tm\:\-\-py-2,
    &.t\:\-\-py-2 {
      @apply py-[2px];
    }

    &.\-\-h-20,
    &.pt\:\-\-h-20,
    &.tm\:\-\-h-20,
    &.t\:\-\-h-20 {
      @apply h-[20px];
    }
  }
}

@screen m {
  .m-tag {
    --tag-text-shadow: var(--tag-mobile-text-shadow);

    &.\-\-text-shadow,
    &.tm\:\-\-text-shadow,
    &.m\:\-\-text-shadow {
      .m-tag-label {
        text-shadow: var(--tag-mobile-text-shadow);
      }
    }

    &.\-\-rounded-3,
    &.tm\:\-\-rounded-3,
    &.m\:\-\-rounded-3 {
      @apply rounded-[3px];
    }

    &.\-\-px-10,
    &.tm\:\-\-px-10,
    &.m\:\-\-px-10 {
      @apply px-[10px];
    }

    &.\-\-px-6,
    &.tm\:\-\-px-6,
    &.m\:\-\-px-6 {
      @apply px-[6px];
    }

    &.\-\-py-4,
    &.tm\:\-\-py-4,
    &.m\:\-\-py-4 {
      @apply py-[4px];
    }

    &.\-\-py-2,
    &.tm\:\-\-py-2,
    &.m\:\-\-py-2 {
      @apply py-[2px];
    }

    &.\-\-h-20,
    &.tm\:\-\-h-20,
    &.m\:\-\-h-20 {
      @apply h-[20px];
    }
  }
}
