/* default 變體的變數 —— 一般表格的間距、字級與線色。 */
:root {
  --table-default-thtd-pc-px: 5px;
  --table-default-thtd-tablet-px: 5px;
  --table-default-thtd-mobile-px: 5px;

  --table-default-tbody-tr-pc-border-b: 1px;
  --table-default-tbody-tr-tablet-border-b: 1px;
  --table-default-tbody-tr-mobile-border-b: 1px;

  --table-default-thead-th-pc-py: 8px;
  --table-default-thead-th-tablet-py: 5px;
  --table-default-thead-th-mobile-py: 5px;

  --table-default-thead-th-pc-text-size: 16px;
  --table-default-thead-th-tablet-text-size: 14px;
  --table-default-thead-th-mobile-text-size: 14px;

  --table-default-tbody-td-pc-py: 15px;
  --table-default-tbody-td-tablet-py: 10px;
  --table-default-tbody-td-mobile-py: 10px;

  --table-default-tbody-td-pc-text-size: 16px;
  --table-default-tbody-td-tablet-text-size: 14px;
  --table-default-tbody-td-mobile-text-size: 14px;

  --table-default-thead-th-color: var(--gray-666);
  --table-default-tbody-td-color: var(--gray-666);
  --table-default-tbody-tr-border-color: var(--gray-e5);
}
