.m-anchor {
  border-width: var(--anchor-border);

  @apply inline-flex h-[--anchor-h] items-center rounded-[--anchor-rounded] px-[--anchor-px] py-[--anchor-py] tracking-[0.06em] transition-colors duration-300;

  &:not(:disabled) {
    @apply border-[--anchor-border-color] bg-[--anchor-bg-color] text-[--anchor-color];
  }

  &.\-\-text-center {
    @apply justify-center;
  }

  &.\-\-oval {
    @apply rounded-full;
  }

  &:disabled {
    @apply cursor-not-allowed border-[--anchor-disabled-border-color] bg-[--anchor-disabled-bg-color] text-[--anchor-disabled-color];
  }

  &:hover {
    &.hover\:\-\-underline {
      @apply underline;
    }
  }
}

@screen p {
  .m-anchor {
    --anchor-border: var(--anchor-pc-border);
  }
}

@screen t {
  .m-anchor {
    --anchor-border: var(--anchor-tablet-border);
  }
}

@screen m {
  .m-anchor {
    --anchor-border: var(--anchor-mobile-border);
  }
}
